* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0e1e1e;
  color: white;
}

.barra-superior {
  background-color: #093434;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-editor {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.botones-acciones {
  display: flex;
  gap: 10px;
}

.botones-acciones button {
  background-color: #155e5e;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#contenedor-principal {
  flex: 1;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.panel-vista {
  flex: 2;
  background-color: white;
  border-right: 2px solid #222;
  display: flex;
}

.panel-vista iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.panel-codigo {
  flex: 1;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.editor-caja {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 5px;
  overflow: hidden;
}

.encabezado-editor {
  padding: 5px 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.encabezado-editor.html {
   background-color: #e44d26; 
  }
.encabezado-editor.css { 
  background-color: #2965f1; 
}
.encabezado-editor.js { 
  background-color: #f0db4f; color: #000; 
}

.area-editor {
  flex: 1;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

.vista-horizontal {
  flex-direction: row;
}

.vista-horizontal-inversa {
  flex-direction: row-reverse;
}

.vista-vertical {
  flex-direction: column;
}

.vista-vertical-inversa {
  flex-direction: column-reverse;
}

.vista-vertical .panel-vista,
.vista-vertical-inversa .panel-vista {
  flex: 1;
}

.vista-vertical .panel-codigo,
.vista-vertical-inversa .panel-codigo {
  flex: 1;
}
